@using System.Collections
@using Cms.Controllers
@using Newtonsoft.Json;
@model Cms.Models.MultipleIndexModel
@{
    var kategoria = ViewData["Category"].ToString();
    var catID = Int32.Parse(ViewData["CatId"].ToString());
    HelperController helper = new HelperController();
    var categorySlug = (string)ViewData["catslug"];
    var categorySubSlug = (string)ViewData["subslug"];
}
<style>
    #front-picture, #services {
        display: none !important;
    }

    .pricerange {
        padding-left: .5rem !important;
    }
</style>
<div class="container-fluid w-75">
    <div class="row py-0 py-sm-4">

        <div class="col">

            @foreach (var brand in Model.BrandsModel.Where(i => i.id == catID))
            {
                ViewBag.Title = brand.name + " -";
                ViewBag.Description = brand.description;

                if (categorySlug == null)
                {
                    <h2>@Html.Raw(brand.name)</h2>
                }
                else if (categorySlug != null && categorySubSlug == null)
                {
                    var firstCat = Model.CategoriesModel.Where(i => i.slug == categorySlug).FirstOrDefault();

                    <h2>@Html.Raw(brand.name) / @Html.Raw(firstCat.name)</h2>
                }
                else if (categorySlug != null && categorySubSlug != null)
                {
                    var firstCat = Model.CategoriesModel.Where(i => i.slug == categorySlug).FirstOrDefault();
                    var secondCat = Model.CategoriesModel.Where(i => i.slug == categorySubSlug).FirstOrDefault();

                    <h2>@Html.Raw(brand.name) / @Html.Raw(firstCat.name) / @Html.Raw(secondCat.name)</h2>
                }
            }

            <div class="container-fluid">
                <div class="row justify-content-md">


                    @{

                        var prods = Model.ProductModel.ToList();
                        HashSet<int> catIds = new HashSet<int>();
                        foreach (var prod in prods)
                        {

                            dynamic cats = JsonConvert.DeserializeObject(prod.category);
                            foreach (var cat in cats)
                            {
                                catIds.Add(Int32.Parse(cat.Value.ToString()));
                            }

                        }

                        foreach (var finalCatId in catIds)
                        {
                            if (categorySlug == null)
                            {
                                var thisCat = Model.CategoriesModel.Where(i => i.id == finalCatId && i.maincat == "Žiadna").FirstOrDefault();

                                if (thisCat != null)
                                {
                                    <div class="col-md-auto subcatthumb py-2 m-1">
                                        <a href="@Url.Action("Brand", "Home", new { catslug = @Html.Raw(thisCat.slug) })">
                                            <div style="background-image: url(/Uploads/@thisCat.image); background-size: contain;"></div>
                                            <p>@thisCat.name</p>
                                        </a>
                                    </div>
                                }
                            }
                            else if (categorySlug != null && categorySubSlug == null)
                            {
                                var thisCat = Model.CategoriesModel.Where(i => i.id == finalCatId && i.maincat != "Žiadna").FirstOrDefault();

                                if (thisCat != null)
                                {
                                    <div class="col-md-auto subcatthumb py-2 m-1">
                                        <a href="@Url.Action("Brand", "Home", new { catslug = @Html.Raw(categorySlug), subslug = @Html.Raw(thisCat.slug) })">
                                            <div style="background-image: url(/Uploads/@thisCat.image); background-size: contain;"></div>
                                            <p>@thisCat.name</p>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }

                </div>
            </div>
            <hr />



            @{
                Html.RenderPartial("_Filter");
            }
            <div id="ajaxProducts" class="products m-0"></div>

            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>

        </div>
    </div>
</div>
<script src="~/Scripts/fetchProducts.js"></script>
<script src="~/Scripts/filterProducts.js"></script>

<script src="~/Scripts/add_to_session.js"></script>
