@using System.Collections
@using Cms.Controllers
@model Cms.Models.MultipleIndexModel
@{
    HelperController helper = new HelperController();

    var kategoria = ViewData["Category"].ToString();

    if (ViewData["Sub"] != null)
    {
        var sub = ViewData["Sub"].ToString();
    }
    var nameofcat = ViewContext.RouteData.Values["catslug"];

    var catName = "";
    var catID = 0;
    if (ViewData["CatId"] != null && ViewData["CatId"] != "")
    {
        catID = Int32.Parse(ViewData["CatId"].ToString());
    }
}
<style>
    #front-picture, #services {
        display: none !important;
    }
</style>
<div class="container">
    <div class="row py-0 py-sm-4">
        @{
            Html.RenderPartial("_SidebarCategories");
        }
        <div class="col-lg-9 col-md-8">

            @if (catID != 0)
            {
                foreach (var cat in Model.CategoriesModel.Where(i => i.id == catID))
                {
                    ViewBag.Title = cat.name + " -";
                    ViewBag.Description = cat.description;
                    catName = cat.name;

                    if (cat.maincat == "Žiadna")
                    {
                        <h2>@Html.Raw(cat.name)</h2>
                    }
                    else if (cat.topcat == "" || cat.topcat == "Žiadna")
                    {
                        <h2>@Html.Raw(cat.maincat) / @Html.Raw(cat.name)</h2>
                    }
                    else if (cat.topcat2 == "" || cat.topcat2 == "Žiadna")
                    {
                        <h2>@Html.Raw(cat.topcat) / @Html.Raw(cat.name)</h2>
                    }
                    else
                    {
                        <h2>@Html.Raw(cat.topcat2) / @Html.Raw(cat.name)</h2>
                    }
                }
            }
            else if (nameofcat.ToString() == "novinky")
            {
                <h2>Novinky</h2>
                ViewBag.Title = "Novinky -";
            }
            else if (nameofcat.ToString() == "zlavy")
            {
                <h2>Produkty v zľave</h2>
                ViewBag.Title = "Produkty v zľave -";
            }

        <div class="container">
            <div class="row justify-content-md">
                @foreach (var cat in Model.CategoriesModel.Where(i => i.maincat == catName))
                {
                    <div class="col-md-auto subcatthumb p-2 m-1">
                        <a href="@Url.Action("Category", "Home", new {catslug = @Html.Raw(nameofcat), subslug = @Html.Raw(cat.slug)})">
                            <div style="background-image: url(/Uploads/@cat.image); background-size: contain;"></div>
                            <p>@cat.name</p>
                        </a>
                    </div>
                }
            </div>
        </div>
            <hr />

            @{
                Html.RenderPartial("_Filter");
            }
            <div id="ajaxProducts"></div>

            <nav class="pagination-container" aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>

        </div>

    </div>
</div>
<script src="~/Scripts/fetchProducts.js"></script>
<script src="~/Scripts/filterProducts.js"></script>

<script src="~/Scripts/add_to_session.js"></script>
