@{
    ViewBag.Title = "Zmena hesla";
    var validToken = (bool)ViewData["validToken"];
    var email = (string)ViewData["email"];
    var token = (string)ViewData["token"];
}

<section id="forgotPassword">
    <div class="container-fluid w-75">
        <div>
            <h1 style="margin-top: 20px;">Zmena hesla</h1>

            <div class="row">
                <div class="col-12">
                    @if (validToken)
                    {
                        using (Html.BeginForm("PasswordChangeAction", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "passwordChangeForm", style = "margin-bottom: 60px;" }))
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @if (ViewData["info"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @Html.Raw(ViewData["info"].ToString())
                            </div>
                            <hr />
                        }

                        <p style="margin-bottom: 10px;">
                            Zadajte nové heslo.
                        </p>

                        <div class="form-group row ml-0 p-0 col mb-10">
                            <div class="col-md-12 p-0">
                                @Html.Password("Password", "", new { @class = "form-control", placeholder = "Heslo", id = "heslo", style = "width:50%;" })
                            </div>
                        </div>

                        <div class="form-group row ml-0 p-0 col mb-10">
                            <div class="col-md-12 p-0">
                                @Html.Password("PasswordTest", "", new { @class = "form-control", placeholder = "Overenie hesla", id = "overheslo", style = "width:50%;" })
                            </div>
                        </div>

                        <div id="tooshort" class="text-danger" style="display: none;">Zadané heslo je príliš krátke. Požadovaná dĺžka je minimálne 8 znakov!</div>
                        <div id="alert" class="text-danger" style="display: none;">Zadané heslá sa nezhodujú!</div>

                        @Html.Hidden("Email", email)
                        @Html.Hidden("Token", token)

                        <div class="form-group">
                            <div class="right">
                                <input type="submit" value="Odoslať" class="btn btn-color-blue col-12 col-md-3" />
                            </div>

                        </div>
                    </div>

                        }
                    }
                    else
                    {
                        <div style="padding-top:50px;padding-bottom:50px;">
                        @Html.Raw("Neplatný token.")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function passwordCheck() {
        var heslo = document.getElementById("heslo").value;
        var overheslo = document.getElementById("overheslo").value;

        if (heslo !== overheslo) {
            document.getElementById("alert").style = "display: block;";
            return false;
        } else {
            document.getElementById("alert").style = "display: none;";
            if (heslo.length < 8) {
                document.getElementById("tooshort").style = "display: block;";
                return false;
            } else {
                document.getElementById("tooshort").style = "display: none;";
            }
            return true;
        }
    }

    $("#passwordChangeForm input[type=submit]").click(function (e) {
        e.preventDefault();

        if (passwordCheck()) {
            $("#passwordChangeForm").submit();
        }
    });
</script>