@using System.Text.RegularExpressions
@using Cms.Controllers
@model Cms.Models.MultipleIndexModel
@{
    var search = ViewData["Search"].ToString();
    var pageSize = ViewData["PageSize"].ToString();
    var pageNumber = ViewData["PageNumber"].ToString();
    var totalPages = ViewData["TotalPages"].ToString();
    ViewBag.Title = "Výsledky vyhľadávania: " + search + " - ";

    HelperController helper = new HelperController();
}
<style>
    #front-picture, #services {
        display: none !important;
    }
</style>
<div class="container-fluid w-75">

    @if (!Model.ProductsPaged.Any())
    {
        <div class="row py-0 py-sm-4">
            <div class="col-md-8">
                <h2>Výsledky vyhľadávania: <i>@search</i></h2>
                <p>Požadovaný produkt sa nenašiel.</p>
            </div>
        </div>
    }
    else
    {
        <div class="row py-0 py-sm-4">
            <div class="col-md-8">
                <h2>Výsledky vyhľadávania: <i>@search</i></h2>
            </div>
        </div>
        <div class="row products search-products">
            <div class="col-md-12 no-gutters">
                <div class="row products-row">
                    @{
                        var prods = Model.ProductsPaged;
                        foreach (var prod in prods)
                        {
                            bool isDiscounted = false;
                            var variants = Model.VariantModel.Where(o => o.prod_id == prod.id && o.deleted == false).OrderBy(o => o.num).ToList();

                            if (variants.Count() > 0)
                            {
                                foreach (var variant in variants)
                                {
                                    if (variant.discountprice != null)
                                    {
                                        isDiscounted = true;

                                        break;
                                    }
                                }
                            }
                            else
                            {
                                if (prod.discountprice != null)
                                {
                                    isDiscounted = true;
                                }
                            }

                            var slug = helper.ToUrlSlug(prod.title);
                            <div class="col-md-5ths product mb-2 mx-1" style="margin-right: 0px;">
                                <a href="/detail-produktu/@prod.id/@slug">
                                    <div class="thumb" style="background-image: url('/Uploads/@prod.image'); height: 11vw; background-size: contain;"></div>
                                    <div class="prod-labels">
                                        @{
                                            if (isDiscounted == true)
                                            {
                                                <span class="prod-discount">akcia</span>
                                            }
                                        }

                                        @{
                                            if (DateTime.Compare(DateTime.Parse(prod.date), DateTime.Now.AddDays(-15)) >= 0)
                                            {
                                                <span class="prod-new">novinka</span>
                                            }
                                        }
                                    </div>
                                    <div class="prod-header">@Html.Raw(prod.title)</div>
                                    @{
                                        var shortdescription = "";
                                        if (prod.description != null && prod.description != "")
                                        {
                                            shortdescription = Regex.Replace(prod.description, "<.*?>", String.Empty);
                                            shortdescription = WebUtility.HtmlDecode(shortdescription);

                                            if (shortdescription.Length > 60)
                                            {
                                                shortdescription = shortdescription.Substring(0, 60) + "...";
                                            }
                                        }
                                    }
                                    <div class="prod-text">@Html.Raw(shortdescription)</div>
                                    <div class="prod-prices">
                                        @{
                                            decimal variantPriceFrom = 99999;
                                            string isVariant = "false";
                                            int firstAttrId = 0;
                                            foreach (var variant in variants)
                                            {

                                                if (firstAttrId == 0)
                                                {
                                                    firstAttrId = variant.attribute_id;
                                                }

                                                if (firstAttrId == variant.attribute_id)
                                                {
                                                    if (variant.discountprice != null)
                                                    {
                                                        if (variant.discountprice < variantPriceFrom)
                                                        {
                                                            variantPriceFrom = (decimal)variant.discountprice;
                                                        }
                                                    }
                                                    else
                                                    {

                                                        decimal thisPrice = 0;
                                                        //rating
                                                        if (Request.Cookies["username"] != null)
                                                        {
                                                            var usermeta = Model.AllUsersMetaModel.FirstOrDefault();
                                                            var rating = 1;
                                                            decimal defaultPrice = (decimal)variant.price;
                                                            decimal ratingPrice = 0;

                                                            if (usermeta != null)
                                                            {
                                                                rating = usermeta.rating;
                                                            }
                                                            switch (rating)
                                                            {
                                                                case 1:
                                                                    ratingPrice = (decimal)0.95 * defaultPrice;
                                                                    break;
                                                                case 2:
                                                                    ratingPrice = (decimal)0.9 * defaultPrice;
                                                                    break;
                                                                case 3:
                                                                    ratingPrice = (decimal)0.85 * defaultPrice;
                                                                    break;
                                                            }

                                                            thisPrice = ratingPrice;
                                                        }
                                                        else
                                                        {
                                                            thisPrice = (decimal)variant.price;
                                                        }

                                                        if (thisPrice < variantPriceFrom)
                                                        {
                                                            variantPriceFrom = thisPrice;
                                                        }

                                                    }
                                                }

                                                isVariant = "true";
                                            }

                                            decimal actualPrice = (decimal)0.0;
                                            if (variantPriceFrom != 99999)
                                            {
                                                <span class="prod-price-from">od @variantPriceFrom.ToString("N2") €</span>
                                            }
                                            else
                                            {

                                                if (prod.discountprice != null)
                                                {
                                                    <span class="prod-discount">@prod.price.ToString("N2") €</span>
                                                    <span class="prod-base">@(((decimal) prod.discountprice).ToString("N2")) €</span>
                                                    actualPrice = (decimal)prod.discountprice;
                                                }
                                                else
                                                {
                                                    //rating
                                                    if (Request.Cookies["username"] != null)
                                                    {
                                                        var usermeta = Model.AllUsersMetaModel.FirstOrDefault();
                                                        var rating = 1;
                                                        decimal defaultPrice = prod.price;
                                                        decimal ratingPrice = 0;

                                                        if (usermeta != null)
                                                        {
                                                            rating = usermeta.rating;
                                                        }

                                                        switch (rating)
                                                        {
                                                            case 1:
                                                                ratingPrice = (decimal)0.95 * defaultPrice;
                                                                break;
                                                            case 2:
                                                                ratingPrice = (decimal)0.9 * defaultPrice;
                                                                break;
                                                            case 3:
                                                                ratingPrice = (decimal)0.85 * defaultPrice;
                                                                break;
                                                        }

                                                        <span class="prod-discount">@defaultPrice.ToString("N2") €</span>
                                                        <span class="prod-base">@ratingPrice.ToString("N2") €</span>
                                                        actualPrice = ratingPrice;
                                                    }
                                                    else
                                                    {
                                                        <span class="prod-base">@prod.price.ToString("N2") €</span>
                                                        actualPrice = prod.price;
                                                    }
                                                }

                                            }
                                        }
                                    </div>
                                </a>

                                @{
                                    var actualPriceStr = actualPrice.ToString("N2").Replace(",", ".");
                                }

                                <span onclick='addToCart(@prod.id, @isVariant, @actualPriceStr)' class="prod-add-to-cart">
                                    <img class="prod-icon" src="~/Content/images/cart.svg">
                                    <span>Pridať do košíka</span>
                                </span>
                            </div>
                        }

                        <script>
                            //Google Remarketing
                            
                            gtag('event','view_search_results', {
                                search_term: '@search',
                            });
                        </script>
                    }
                </div>
            </div>
        </div>

        <!--
        <nav class="pagination-container pb-sm-4" aria-label="Page navigation example">
            <ul class="pagination" id="pagination">
            </ul>
        </nav>
        -->

        <div class="pagination-parent-container">
            <div id="load-more-ajax" style="visibility: hidden;cursor: pointer;"><a href=""><span class="text1">Zobraziť ďalšie</span>&nbsp;<span class="number"></span>&nbsp;<span class="text2">produkty</span></a></div>

            <nav class="pagination-container" aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
        </div>
    }
</div>

<script>
    renderPagination(@totalPages, @pageNumber);

    @*
    function renderPagination(totalPages, page) {
        var $pages = '';
        totalPages = Math.floor(totalPages);


        if (totalPages > 1 && page > 1) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) +'" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
        }


        for (i = 1; i <= totalPages; i++) {
            let active = "";
            if (i == page) { active = "active"; }
            $pages += '<li class="page-item ' + active + '"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + i +'">' + i + '</a></li>';
        }


        if (totalPages > 1 && totalPages > page) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) +'" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
        }


        $pages = $($pages);

        $('#pagination').html($pages);
    }
    *@

    function renderPagination(totalPages, page) {
        var $pages = '';
        totalPages = Math.floor(totalPages);

        //button LOAD MORE
        if (totalPages > 1 && totalPages > page) {

            /*
            if (nextPageRecords == 1) {
                $('#load-more-ajax span.text1').text("Zobraziť ďalší");
                $('#load-more-ajax span.text2').text("produkt");
            } else if (nextPageRecords >= 2 && nextPageRecords <= 4) {
                $('#load-more-ajax span.text1').text("Zobraziť ďalšie");
                $('#load-more-ajax span.text2').text("produkty");
            } else {
                $('#load-more-ajax span.text1').text("Zobraziť ďalších");
                $('#load-more-ajax span.text2').text("produktov");
            }
            $('#load-more-ajax span.number').text(nextPageRecords);
            */
            $("#load-more-ajax a").attr("href", "/vyhladavanie?term=@search&page=" + (page + 1));

            $('#load-more-ajax').css('visibility', 'visible');
        } else {
            $('#load-more-ajax').css('visibility', 'hidden');
        }


        $pages = generatePaging(page, totalPages);

        $pages = $($pages);

        $('#pagination').html($pages);
    }

    function generatePaging(page, totalPages) {

        $pages = '';

        if (totalPages > 1 && page > 1) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) +'" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
        }

        //ak je menej ako 5 stranok
        if (totalPages <= 5) {
            for (i = 1; i <= totalPages; i++) {
                let active = "";
                if (i == page) {
                    active = "active";
                }

                $pages += '<li class="page-item ' + active + '"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + i + '">' + i + '</a></li>';
            }
        }
        //kliknuta prva stranka a zaroven celkovo viac ako 5 stranok
        else if (totalPages > 5 && page == 1) {
            $pages += '<li class="page-item active"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + page + '">' + page + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) + '">' + (page + 1) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 2) + '">' + (page + 2) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 3) + '">' + (page + 3) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 4) + '">' + (page + 4) + '</a></li>';

            $pages += '<li class="page-item"><a>...</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + totalPages + '">' + totalPages + '</a></li>';
        }
        //kliknuta druha stranka a zaroven celkovo viac ako 5 stranok
        else if (totalPages > 5 && page == 2) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) + '">' + (page - 1) + '</a></li>';
            $pages += '<li class="page-item active"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + page + '">' + page + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) + '">' + (page + 1) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 2) + '">' + (page + 2) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 3) + '">' + (page + 3) + '</a></li>';

            $pages += '<li class="page-item"><a>...</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + totalPages + '">' + totalPages + '</a></li>';
        }
        //kliknute stranky v strede a zaroven celkovo viac ako 5 stranok
        else if (totalPages > 5 && page <= totalPages - 2) {
            if (page - 2 != 1) {
                $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + 1 + '">' + 1 + '</a></li>';
                $pages += '<li class="page-item"><a>...</a></li>';

            }

            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 2) + '">' + (page - 2) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) + '">' + (page - 1) + '</a></li>';
            $pages += '<li class="page-item active"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + page + '">' + page + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) + '">' + (page + 1) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 2) + '">' + (page + 2) + '</a></li>';

            if (page + 2 != totalPages) {
                $pages += '<li class="page-item"><a>...</a></li>';
                $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + totalPages + '">' + totalPages + '</a></li>';
            }
        }
        //kliknuta predposledna stranka a zaroven celkovo viac ako 5 stranok
        else if (totalPages > 5 && page <= totalPages - 1) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + 1 + '">' + 1 + '</a></li>';
            $pages += '<li class="page-item"><a>...</a></li>';

            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 3) + '">' + (page - 3) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 2) + '">' + (page - 2) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) + '">' + (page - 1) + '</a></li>';
            $pages += '<li class="page-item active"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + page + '">' + page + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) + '">' + (page + 1) + '</a></li>';
        }
        //kliknuta posledna stranka a zaroven celkovo viac ako 5 stranok
        else {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + 1 + '">' + 1 + '</a></li>';
            $pages += '<li class="page-item"><a>...</a></li>';

            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 4) + '">' + (page - 4) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 3) + '">' + (page - 3) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 2) + '">' + (page - 2) + '</a></li>';
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page - 1) + '">' + (page - 1) + '</a></li>';
            $pages += '<li class="page-item active"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + page + '">' + page + '</a></li>';
        }

        if (totalPages > 1 && totalPages > page) {
            $pages += '<li class="page-item"><a class="page-link" href="/vyhladavanie?term=' + "@search" + '&page=' + (page + 1) + '" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
        }

        return $pages;
    }

</script>
<script src="~/Scripts/add_to_session.js"></script>