@using System.Collections
@using Cms.Controllers
@using Newtonsoft.Json;
@model Cms.Models.MultipleIndexModel
@{
    HelperController helper = new HelperController();

    var kategoria = ViewData["Category"].ToString();

    if (ViewData["Sub"] != null)
    {
        var sub = ViewData["Sub"].ToString();
    }
    var nameofcat = ViewContext.RouteData.Values["catslug"];

    var catName = "";
    var catSlug = "";

    var catID = 0;
    if (ViewData["CatId"] != null && ViewData["CatId"] != "")
    {
        catID = Int32.Parse(ViewData["CatId"].ToString());
    }

    var categorySlug = (string)ViewData["catslug"];
    var categorySubSlug = (string)ViewData["subslug"];

}
<style>
    #front-picture, #services {
        display: none !important;
    }
</style>
<div class="container-fluid w-75">
    <div class="row py-0 py-sm-4">
        <div class="col">
            @if (catID != 0)
            {
                foreach (var cat in Model.TypesModel.Where(i => i.id == catID))
                {
                    ViewBag.Title = cat.name + " -";
                    ViewBag.Description = cat.description;
                    catName = cat.name;
                    catSlug = cat.slug;


                    if (categorySlug == null)
                    {
                        <h2>@Html.Raw(cat.name)</h2>
                    }
                    else if (categorySlug != null && categorySubSlug == null)
                    {
                        var firstCat = Model.CategoriesModel.Where(i => i.slug == categorySlug).FirstOrDefault();

                        <h2>@Html.Raw(cat.name) / @Html.Raw(firstCat.name)</h2>
                    }
                    else if (categorySlug != null && categorySubSlug != null)
                    {
                        var firstCat = Model.CategoriesModel.Where(i => i.slug == categorySlug).FirstOrDefault();
                        var secondCat = Model.CategoriesModel.Where(i => i.slug == categorySubSlug).FirstOrDefault();

                        <h2>@Html.Raw(cat.name) / @Html.Raw(firstCat.name) / @Html.Raw(secondCat.name)</h2>
                    }
                }
            }

            <div class="container-fluid">
                <div class="row justify-content-md">


                    @{

                        var prods = Model.ProductModel.ToList();
                        HashSet<int> catIds = new HashSet<int>();
                        foreach (var prod in prods)
                        {
                            if (prod.category != null)
                            {
                                dynamic cats = JsonConvert.DeserializeObject(prod.category);
                                foreach (var cat in cats)
                                {
                                    catIds.Add(Int32.Parse(cat.Value.ToString()));
                                }
                            }

                        }

                        foreach (var finalCatId in catIds)
                        {
                            if (categorySlug == null)
                            {
                                var thisCat = Model.CategoriesModel.Where(i => i.id == finalCatId && i.maincat == "Žiadna").FirstOrDefault();

                                if (thisCat != null)
                                {
                                    <div class="col-md-auto subcatthumb py-2 m-1">
                                        <a href="@Url.Action("Type", "Home", new { catslug = @Html.Raw(thisCat.slug) })">
                                            <div style="background-image: url('/Uploads/@thisCat.image'); background-size: contain;background-repeat: no-repeat; background-position: center;"></div>
                                            <p>@thisCat.name</p>
                                        </a>
                                    </div>
                                }
                            }
                            else if (categorySlug != null && categorySubSlug == null)
                            {
                                var thisCat = Model.CategoriesModel.Where(i => i.id == finalCatId && i.maincat != "Žiadna").FirstOrDefault();

                                if (thisCat != null)
                                {
                                    <div class="col-md-auto subcatthumb py-2 m-1">
                                        <a href="@Url.Action("Type", "Home", new { catslug = @Html.Raw(categorySlug), subslug = @Html.Raw(thisCat.slug) })">
                                            <div style="background-image: url('/Uploads/@thisCat.image'); background-size: contain;background-repeat: no-repeat; background-position: center;"></div>
                                            <p>@thisCat.name</p>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }



                    @*foreach (var cat in Model.CategoriesModel.Where(i => i.maincat == catName && i.topcat == "Žiadna"))
                        {
                            <div class="col-md-auto subcatthumb py-2 m-1">
                                <a href="@Url.Action("Category", "Home", new {catslug = @Html.Raw(nameofcat), subslug = @Html.Raw(cat.slug)})">
                                    <div style="background-image: url(/Uploads/@cat.image); background-size: contain;"></div>
                                    <p>@cat.name</p>
                                </a>
                            </div>
                        }
                        @foreach (var cat in Model.CategoriesModel.Where(i => i.maincat == mainCatName && i.topcat == catName))
                        {
                            <div class="col-md-auto subcatthumb py-2 m-1">
                                <a href="@Url.Action("Category", "Home", new {catslug = @Html.Raw(nameofcat), subslug = @Html.Raw(cat.slug)})">
                                    <div style="background-image: url(/Uploads/@cat.image); background-size: contain;"></div>
                                    <p>@cat.name</p>
                                </a>
                            </div>
                        }*@
                </div>
            </div>
            <hr />

            @{
                Html.RenderPartial("_Filter");
            }
        <div id="ajaxProducts" class="products m-0">
            <div class="loading" style="text-align:center;margin-top:100px;"><img style="width:100px;" src="/Uploads/loading.gif"></div>
        </div>

            <div class="pagination-parent-container">
                <div id="load-more-ajax" style="visibility: hidden;cursor: pointer;"><a><span class="text1"></span>&nbsp;<span class="number"></span>&nbsp;<span class="text2"></span></a></div>

                <nav class="pagination-container" aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</div>


<script src="~/Scripts/fetchProducts.js?v=1.1"></script>
<script src="~/Scripts/filterProducts.js?v=1.1"></script>
<script src="~/Scripts/add_to_session.js?v=1.1"></script>

<!--
<script>
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '/Scripts/filterProducts.js';

    document.head.appendChild(script);

    script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '/Scripts/fetchProducts.js';

    document.head.appendChild(script);

    script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '/Scripts/add_to_session.js';

    document.head.appendChild(script);
</script>
-->
