@model Cms.Models.MultipleIndexModel
    @{ 
        var maxPrice = ViewData["maxPrice"] ?? "0";
        var minPrice = ViewData["minPrice"] ?? "0";
        maxPrice = decimal.Parse(maxPrice.ToString()).ToString("0");
        minPrice = decimal.Parse(minPrice.ToString()).ToString("0");
    }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" />
<link href="~/Content/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>


<div class="col-12 filter-container">
    <div class="form-group">
        <div class="row">
            @if (ViewData["typ"] != null)
            {
                <div class="col-lg-3 col-md-6 px-2" style="text-align: left; display: inline-block;">
                    <div>
                        <small><strong>@Html.Label("Typ rybolovu:", htmlAttributes: new { @class = "control-label col-md-12 px-0" })</strong></small>
                        @Html.DropDownList("Typ", (IEnumerable<SelectListItem>)ViewData["typ"], new { @class = "form-control productfilter" })
                    </div>
                </div>
            }
            @if (ViewData["znacka"] != null)
            {
                <div class="col-lg-3 col-md-6 px-2" style="text-align: left; display: inline-block;">
                    <div>
                        <small>
                            <strong>
                                @Html.Label("Výrobca:", htmlAttributes: new { @class = "control-label col-md-12 px-0" })
                            </strong>
                        </small>
                        @Html.DropDownList("Výrobca", (IEnumerable<SelectListItem>)ViewData["znacka"], "", new { @class = "form-control productfilter", id = "Vyrobca" })
                    </div>
                </div>
            }

            <div class="col-md-6 px-2 pl-4 range-container pricerange" style="text-align: left; display: inline-block;">
                <div class="pt-4">
                    <small>
                        <strong>Cena od - do:</strong>
                    </small>
                    <div class="range">
                        <small class="pr-3">0 €</small> <input id="ex3" type="text" class="span2 productfilter" value="" data-slider-min="0" data-slider-max="@maxPrice.ToString()" data-slider-step="10" data-slider-value="[0,@maxPrice.ToString()]" /> <small class="pl-3">@maxPrice.ToString() €</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 px-2" style="text-align: left; display: inline-block;">
                <div>
                    <div class="pt-3">
                            <small id="resetfilter" style="cursor:pointer;display:none;"><img src="~/Content/images/red-x.svg" width="20px"/> <strong>Resetovať filter</strong></small>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    // With JQuery
    $("#ex3").slider({});

    // Without JQuery
    var slider3 = new Slider('#ex3', {});

</script>
