@model Cms.Models.MultipleIndexModel

    <div class="col-md-5 small navbar p-0 link-container">
        <div class="dropdown">
            <a class="dropbtn" href="/kat/klimatizacie">e-shop<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <div>
                    @foreach (var category in Model.CategoriesModel.Where(x => x.maincat == "Žiadna"))
                    {
                        <div class="column">
                            <a href="@Url.Action("Category", "Home", new {catslug = category.slug})">
                                <h3>@category.name</h3>
                            </a>
                            @foreach (var subcat2 in Model.CategoriesModel.Where(o => o.topcat == "Žiadna" && o.maincat == category.name))
                            {
                                <a href="@Url.Action("Category", "Home", new { catslug = @Html.Raw(category.slug), subslug = @Html.Raw(subcat2.slug)})">@Html.Raw(subcat2.name)</a>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">značky<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content brands">
                <div>
                    <div class="column">
                        @foreach (var brand in Model.BrandsModel.OrderBy(o => o.priority))
                        {
                            <a href="/znacka/@Html.Raw(brand.slug)">
                                @brand.name
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <a href="/s/faq">F.A.Q.</a>
        <a href="/s/certifikacia">Certifikácia</a>
        <a href="/s/kontakt">kontakt</a>
    </div>
