@model Cms.Models.MultipleIndexModel

    <div class="row header-bottom navbar link-container justify-content">
        @foreach (var cat in Model.CategoriesModel.Where(i => i.deleted == false && i.maincat == "Žiadna" && i.topcat == "Žiadna" && i.topcat2 == "Žiadna").OrderByDescending(i => i.ordering))
        {
            //ak kategoria obsahuje podkategorie
            if (Model.CategoriesModel.Where(x => x.maincat == cat.id.ToString() && x.deleted == false).Count() > 0)
            {
                var modelCats = Model.CategoriesModel.Where(x => x.maincat == cat.id.ToString() && x.deleted == false && x.topcat == "Žiadna").OrderByDescending(i => i.ordering);
                
                /*
                if (cat.id == 585)
                {
                    modelCats = Model.CategoriesModel.Where(x => x.maincat == cat.id.ToString() && x.deleted == false && x.topcat == "Žiadna").OrderByDescending(i => i.id);
                }
                */

                <div class="dropdown">
                    <a class="dropbtn" href="/kat/@cat.slug">@cat.name</a>
                    <div class="dropdown-content">
                        <div style="display: flex;flex-direction: inherit;flex-wrap: wrap;">
                            @foreach (var category in modelCats)
                            {
                                <div class="column">
                                    <a href="@Url.Action("Category", "Home", new {subslug = category.slug, catslug = @Html.Raw(cat.slug)})">
                                        <img src="/Uploads/@category.image" alt="@category.name" />
                                        <h3>@category.name</h3>
                                    </a>
                                    <div class="smallmenu">
                                        @foreach (var subcat2 in Model.CategoriesModel.Where(o => o.topcat2 == "Žiadna" && o.topcat == category.id.ToString()))
                                        {
                                            <a href="@Url.Action("Category", "Home", new { catslug = @Html.Raw(cat.slug), subslug = @Html.Raw(category.slug), subslug2 = @Html.Raw(subcat2.slug)})" class="subs">@Html.Raw(subcat2.name)</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a class="dropbtn" href="/kat/@cat.slug">@cat.name</a>
            }
            <div class="mx-1">|</div>
        }
        <div class="dropdown">
            <a class="dropbtn">výrobcovia</a>
            <div class="dropdown-content brands p-4">
                <div class="row">
                    @foreach (var brand in Model.BrandsModel.OrderBy(o => o.priority))
                    {
                        <div class="col-2">
                            <a href="/znacka/@Html.Raw(brand.slug)">
                                @brand.name
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
