@using Cms.Controllers
@using System.Text.RegularExpressions
@model Cms.Models.MultipleIndexModel

@{
    HelperController helper = new HelperController();

    var prods = Model.ProductModel.OrderByDescending(i => i.id).ToList();
    int prodCounter = 0;
    int discProdCounter = 0;

    foreach (var prod in prods)
    {
        if (discProdCounter >= 10)
        {
            break;
        }

        bool isDiscounted = false;
        var variants = Model.VariantModel.Where(o => o.prod_id == prod.id).OrderBy(o => o.num).ToList();

        if (variants.Count() > 0)
        {
            foreach (var variant in variants)
            {
                if (variant.discountprice != null)
                {
                    isDiscounted = true;

                    break;
                }
            }
        }
        else
        {
            if (prod.discountprice != null)
            {
                isDiscounted = true;
            }
        }

        if (isDiscounted && discProdCounter < 10)
        {
            var slug = helper.ToUrlSlug(prod.title);
            <div class="col-md product mx-1">
                <a href="/detail-produktu/@prod.id/@slug">
                    <div class="thumb" style="background-image: url('/Uploads/@prod.image'); height: 11vw;background-size:contain;"></div>
                    <div class="prod-labels">
                        @{
                            if (isDiscounted == true)
                            {
                                <span class="prod-discount">akcia</span>
                            }
                        }

                        @{
                            if (prodCounter < 10)
                            {
                                <span class="prod-new">novinka</span>
                            }
                        }
                    </div>
                    <div class="prod-header">@Html.Raw(prod.title)</div>
                    @{
                        var shortdescription = "";
                        if (prod.description != null && prod.description != "")
                        {
                            shortdescription = Regex.Replace(prod.description, "<.*?>", String.Empty);
                            if (shortdescription.Length > 60)
                            {
                                shortdescription = shortdescription.Substring(0, 60) + "...";
                            }
                        }
                    }
                    <div class="prod-text">@Html.Raw(shortdescription)</div>

                    <div class="prod-prices">
                        @{
                            decimal variantPriceFrom = 99999;
                            string isVariant = "false";
                            int firstAttrId = 0;
                            foreach (var variant in variants)
                            {

                                if (firstAttrId == 0)
                                {
                                    firstAttrId = variant.attribute_id;
                                }

                                if (firstAttrId == variant.attribute_id)
                                {
                                    if (variant.discountprice != null)
                                    {
                                        if (variant.discountprice < variantPriceFrom)
                                        {
                                            variantPriceFrom = (decimal)variant.discountprice;
                                        }
                                    }
                                    else
                                    {
                                        decimal thisPrice = 0;
                                        //rating
                                        if (Request.Cookies["username"] != null)
                                        {
                                            int rating = 0;
                                            var exist = Model.AllUsersMetaModel;

                                            if (exist != null)
                                            {
                                                rating = exist.FirstOrDefault().rating;
                                            }

                                            decimal defaultPrice = (decimal)variant.price;
                                            decimal ratingPrice = 0;

                                            switch (rating)
                                            {
                                                case 1:
                                                    ratingPrice = (decimal)0.95 * defaultPrice;
                                                    break;
                                                case 2:
                                                    ratingPrice = (decimal)0.9 * defaultPrice;
                                                    break;
                                                case 3:
                                                    ratingPrice = (decimal)0.85 * defaultPrice;
                                                    break;
                                            }

                                            thisPrice = ratingPrice;
                                        }
                                        else
                                        {
                                            thisPrice = (decimal)variant.price;
                                        }

                                        if (thisPrice < variantPriceFrom)
                                        {
                                            variantPriceFrom = thisPrice;
                                        }
                                    }
                                }

                                isVariant = "true";
                            }

                            decimal actualPrice = (decimal)0.0;
                            if (variantPriceFrom != 99999)
                            {
                                <span class="prod-price-from">od @variantPriceFrom.ToString("N2") €</span>
                            }
                            else
                            {
                                if (prod.discountprice != null)
                                {
                                    <span class="prod-discount">@prod.price.ToString("N2") €</span><span class="prod-base">@(((decimal)prod.discountprice).ToString("N2")) €</span>
                                    actualPrice = (decimal)prod.discountprice;
                                }
                                else
                                {
                                    //rating
                                    if (Request.Cookies["username"] != null)
                                    {
                                        int rating = Model.AllUsersMetaModel.FirstOrDefault().rating;
                                        decimal defaultPrice = prod.price;
                                        decimal ratingPrice = 0;

                                        switch (rating)
                                        {
                                            case 1:
                                                ratingPrice = (decimal)0.95 * defaultPrice;
                                                break;
                                            case 2:
                                                ratingPrice = (decimal)0.9 * defaultPrice;
                                                break;
                                            case 3:
                                                ratingPrice = (decimal)0.85 * defaultPrice;
                                                break;
                                        }

                                        <span class="prod-discount">@defaultPrice.ToString("N2") €</span><span class="prod-base">@ratingPrice.ToString("N2") €</span>
                                        actualPrice = ratingPrice;
                                    }
                                    else
                                    {
                                        <span class="prod-base">@prod.price.ToString("N2") €</span>
                                        actualPrice = prod.price;
                                    }
                                }
                            }
                        }
                    </div>
                </a>

                @{
                    var actualPriceStr = actualPrice.ToString("N2").Replace(",", ".");
                }

                <span onclick='addToCart(@prod.id, @isVariant, @actualPriceStr)' class="prod-add-to-cart">
                    <img class="prod-icon" src="~/Content/images/cart.svg">
                    <span>Pridať do košíka</span>
                </span>
            </div>

            discProdCounter++;
        }

        prodCounter++;
    }
}