@model Cms.Models.MultipleIndexModel
@{
    var passwordTest = "";

}
<!-- The Modal -->
<div id="myModalReg" class="modalreg">
    @using (Html.BeginForm("UserRegister", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm()" }))
    {
        <!-- Modal content -->
        <div class="modal-reg">
            <div class="row" style="display: block;">
                <span class="closereg">&times;</span>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h3>Registrácia</h3>

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        <i>Údaje slúžiace na prihlásenie do zákazníckej zóny.</i>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col">
                                <div class="form-group row ml-0 p-0 col mb-1 pt-2">
                                    <div class="col-md-11 p-0">
                                        @Html.EditorFor(model => model.AdminLoginModel.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Email (slúži na prihlasovanie)", id="userEmail" } })
                                        @Html.ValidationMessageFor(model => model.AdminLoginModel.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div id="emailexist" class="text-danger" style="display: none;">Zadaná emailová adresa je už registrovaná!</div>
                                    <p class="small">Na túto adresu budeme zasielať informácie o stave vašej objednávky.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col-md-11 p-0 pt-3">
                                    @Html.PasswordFor(model => model.AdminLoginModel.Password, new { @class = "form-control", placeholder = "Heslo", id = "heslo" })
                                    @Html.ValidationMessageFor(model => model.AdminLoginModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col-md-11 p-0 pt-3">
                                    @Html.PasswordFor(model => passwordTest, new { @class = "form-control", placeholder = "Overenie hesla", id = "overheslo" })
                                    @Html.ValidationMessageFor(model => passwordTest, "", new { @class = "text-danger" })
                                </div>
                                <div id="tooshort" class="text-danger" style="display: none;">Zadané heslo je príliš krátke. Požadovaná dĺžka je minimálne 8 znakov!</div>
                                <div id="alert" class="text-danger" style="display: none;">Zadané heslá sa nezhodujú!</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col-md-11 p-0 pt-3">
                                    <label class="con2">
                                        <p class="small">Chcem dostávať informácie o novinkách, akciových ponukách a zľavové kupóny.</p>
                                        @Html.CheckBoxFor(model => model.UsersmetaModel.News, new { @id = "condition", @checked = "checked" })
                                        <span class="checkmark2" id="conditioncheck"></span>
                                    </label>
                                    <label class="con small">
                                        Súhlasím s <a href="/s/obchodne-podmienky" target="_blank"><strong>obchodnými podmienkami</strong></a>
                                        <input id="condition2" type="checkbox">
                                        <span class="checkmark" id="conditioncheck2"></span>
                                    </label>
                                    <p class="small">
                                        Účel spracovania osobných údajov je doručenie tovaru správnej osobe (meno, priezvisko, kontaktná adresa a tel. číslo), zaslanie potvrdenia objednávky, informovanie o jej stave a event. zasielanie obchodných oznamov (email, tel. číslo). Bližšie informácie o spracovaní osobných údajov nájdete v sekcii <a href="/s/ochrana-osobnych-udajov" target="_blank"><strong>Ochrana osobných údajov</strong></a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-6">
                    <div class="form-horizontal">
                        <h3>Dodacie údaje</h3>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Meno*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Priezvisko*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Ulica, číslo domu*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Mesto*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Zip, new { htmlAttributes = new { @class = "form-control", placeholder = "PSČ*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Zip, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefón*" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Companyname, new { htmlAttributes = new { @class = "form-control", placeholder = "Názov firmy" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Companyname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Ico, new { htmlAttributes = new { @class = "form-control", placeholder = "IČO" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Ico, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Dic, new { htmlAttributes = new { @class = "form-control", placeholder = "DIČ" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Dic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="col-md-14">
                                        @Html.EditorFor(model => model.UsersmetaModel.Icdph, new { htmlAttributes = new { @class = "form-control", placeholder = "IČ DPH" } })
                                        @Html.ValidationMessageFor(model => model.UsersmetaModel.Icdph, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>



                    <div class="form-group">
                        <div class="right">
                            <input type="submit" value="Registrovať sa" class="btn btn-color col-5" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    }
</div>
<script src="~/Scripts/register_validate.js"></script>

