@model Cms.Models.MultipleIndexModel
@using Cms.Models
@using System.Globalization
@{

    Layout = "~/Views/Shared/_LayoutCms.cshtml";
    ViewBag.Title = "OrderDetail";
    Entities db = new Entities();
    var ordNumber = "";
    var storno = 0;
}

<style>
    .sidenav a:nth-child(4) {
        border-left: 5px solid #e89300;
        color: #f1f1f1;
        background-color: #464646;
    }
</style>
@foreach (var ord in Model.OrderDataModel)
{
    ordNumber = ord.ordernumber;
    storno = ord.status;
    <h2>Detail objednávky č. @ord.ordernumber</h2>
    <hr />
    var nameshipp = ord.name_shipp;
    var surnameshipp = ord.surname_shipp;
    var addrship = ord.address_shipp;
    var zipship = ord.zip_shipp;
    var cityship = ord.city_shipp;
    var companyship = ord.companyname_shipp;
    var phoneship = ord.phone_shipp;
    if (nameshipp == "")
    {
        nameshipp = ord.name;
        surnameshipp = ord.surname;
        addrship = ord.address;
        zipship = ord.zip;
        cityship = ord.city;
        companyship = ord.companyname;
        phoneship = ord.phone;
    }
    var pay = "";
    if (ord.payment == "pay1")
    {
        pay = "V hotovosti pri osobnom odbere";
    }
    else if (ord.payment == "pay2")
    {
        pay = "Kartou";
    }
    else if (ord.payment == "pay3")
    {
        pay = "Bankovým prevodom";
    }
    else if (ord.payment == "pay4")
    {
        pay = "Dobierkou";
    }

    var trans = "";
    if (ord.shipping == "transfer1")
    {
        trans = "Kuriérska spoločnosť";
    }
    else if (ord.shipping == "transfer2")
    {
        trans = "Slovenská pošta";
    }
    else if (ord.shipping == "transfer3")
    {
        trans = "Osobný odber";
    }

    var paySql = string.Format("select {0} from `e-settings`", ord.payment);
    var payPrice = db.Database.SqlQuery<string>(paySql).FirstOrDefault();
    var shipSql = string.Format("select {0} from `e-settings`", ord.shipping);
    var shipPrice = db.Database.SqlQuery<string>(shipSql).FirstOrDefault();
    var freeshipping = db.e_settings.Select(i => i.transfer5).FirstOrDefault();

    if (ord.finalprice >
        decimal.Parse(freeshipping, CultureInfo.InvariantCulture))
    {
        shipPrice = "0";
    }
    <div class="row pt-4">
        <div class="col">
            <h3>Fakturačné údaje</h3>
            <strong>Meno a priezvisko:</strong> @ord.name @ord.surname<br />
            <strong>Adresa:</strong> @ord.address, @ord.zip @ord.city<br />
            <strong>E-mail:</strong> @ord.email<br />
            <strong>Telefón:</strong> @ord.phone<br /><br />
            <strong>Názov spoločnosti:</strong> @ord.companyname<br />
            <strong>IČO:</strong> @ord.ico<br />
            <strong>DIČ:</strong> @ord.dic<br />
            <strong>IČ DPH:</strong> @ord.icdph<br />

        </div>
        <div class="col">
            <h3>Dodacie údaje</h3>
            <strong>Meno a priezvisko:</strong> @nameshipp @surnameshipp<br />
            <strong>Adresa:</strong> @addrship, @zipship @cityship<br />
            <strong>Telefón:</strong> @phoneship<br />
            <strong>Názov spoločnosti:</strong> @companyship<br /><br />
        </div>
        <div class="col">

            <div class="jumbotron">
                <h3>Finálna cena <i style="font-weight: normal; font-size: 16px;">(zahrnutá doprava aj platba)</i></h3>
                @if (ord.usedcoupon != "")
                {
                    <span>Použitý zľavový kupón <strong>@ord.usedcoupon</strong></span><br />
                }
                <strong style="font-size: 2em;">@{decimal final = ord.finalprice;} @final.ToString("N")€</strong>
                @{
                    var cenabezdph = Convert.ToDecimal(final * 100 / 120).ToString("N");
                }
                <br />
                <i>Cena bez DPH @cenabezdph€</i>
            </div>
        </div>
    </div>
    <hr />
    <div class="row py-4">
        <div class="col">
            <h3>Doprava a platba</h3>
            <strong>Spôsob dodania:</strong> @trans &nbsp;&nbsp;&nbsp;<strong>Cena: @shipPrice&nbsp;€</strong><br />
            <strong>Platba:</strong> @pay  &nbsp;&nbsp;&nbsp;<strong>Cena: @payPrice&nbsp;€</strong><br /><br />
            <h3>Poznámka k objednávke - zákazník</h3>
            <p>@(ord.comment == "" || ord.comment == null? "Žiadna": ord.comment)</p>

            <h3>Poznámka k objednávke - admin</h3>

            @using (Html.BeginForm("OrderNote", "Orders", FormMethod.Post, new { enctype = "multipart/form-data", id = "OrderNote" }))
            {
                <div style="width:25%;">
                    <input type="hidden" name="ordId" value="@ord.id">
                    <textarea name="noteText" style="width:100%;">@ord.note</textarea><br>
                    <input type="submit" value="Uložiť" id="btnSubmit" class="btn btn-success" style="float:right;" />
                </div>
            }

        </div>
    </div>

}
<table class="table" style="font-size: 14px;">
    <thead class="thead-dark">
        <tr>
            <th style="width: 120px;">Katalógové č.</th>
            <th>Náhľad</th>
            <th style="width: 350px;">Názov</th>
            <th>Počet kusov</th>
            <th>Variant</th>
            <th>Cena</th>
        </tr>
    </thead>

    @foreach (var product in Model.OrderMetaModel)
    {
        foreach (var num in Model.ProductModel.Where(i => i.id == Int32.Parse(product.productid)))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => num.number)</td>
                <td><img src="~/Uploads/@Html.DisplayFor(modelItem => product.productimage)" style="width: 50px;" /></td>
                <td><a href="@Url.Action("ProductDetail", "Home", new { id = product.productid })" target="_blank"><strong>@Html.DisplayFor(modelItem => product.product)</strong></a></td>
                <td>@Html.DisplayFor(modelItem => product.pieces) ks</td>
                <td>@Html.DisplayFor(modelItem => product.variant) @Html.DisplayFor(modelItem => product.variant2)</td>
                <td style="background-color: lightyellow; text-align: center;"><strong>@Html.DisplayFor(modelItem => product.price)&nbsp;€</strong></td>
            </tr>
        }
    }
</table>
@if (storno != 2)
{
    <u>@Html.ActionLink("Stornovať objednávku", "StornoOrder", "Orders", new { id = ordNumber, confirm = true }, new { onclick = "return confirm('Naozaj chcete stornovať objednávku?')", @class = "small", data_toggle = "tooltip", data_placement = "top", title = "Kliknutím nenávratne stornujete objednávku." })</u>
}

