@using System.Globalization
@model Cms.Models.MultipleIndexModel
@{
    ViewBag.Title = "Ďakujeme za objednávku.";

}
<style>
    #front-picture, #services {
        display: none !important;
    }
</style>
<div class="container-fluid w-75">
    <div class="py-5">
        <h2 style="font-size: 2em;">Ďakujeme za objednávku.</h2>
        <h3>Vaša objednávka bola prijatá a bude vybavená v čo najkratšom čase.</h3>
        <p><i>Všetky potrebné informácie o Vašej objednávke Vám boli zaslané mailom.</i></p>

        <a class="btn btn-danger mt-4" href="@Url.Action("Index", "Home")">NÁVRAT DO OBCHODU</a>
        <hr class="py-2" />
        <h2>Zhrnutie obednávky:</h2>
        @foreach (var ord in Model.OrderDataModel)
        {
            var nameshipp = ord.name_shipp;
            var surnameshipp = ord.surname_shipp;
            var addrship = ord.address_shipp;
            var zipship = ord.zip_shipp;
            var cityship = ord.city_shipp;
            var countryship = ord.country_shipp;
            var companyship = ord.companyname_shipp;
            var phoneship = ord.phone_shipp;
            if (nameshipp == "")
            {
                nameshipp = ord.name;
                surnameshipp = ord.surname;
                addrship = ord.address;
                zipship = ord.zip;
                cityship = ord.city;
                countryship = ord.country;
                companyship = ord.companyname;
                phoneship = ord.phone;
            }

            <div class="row">
                <div class="col">
                    <h3>Fakturačné údaje</h3>
                    <strong>Meno a priezvisko:</strong> @ord.name @ord.surname<br />
                    <strong>Adresa:</strong> @ord.address, @ord.zip @ord.city @ord.country<br />
                    <strong>E-mail:</strong> @ord.email<br />
                    <strong>Telefón:</strong> @ord.phone<br /><br />
                    <strong>Názov spoločnosti:</strong> @ord.companyname<br />
                    <strong>IČO:</strong> @ord.ico<br />
                    <strong>DIČ:</strong> @ord.dic<br />
                    <strong>IČ DPH:</strong> @ord.icdph<br /><br />
                    <h3>Poznámka k objednávke</h3>
                    <p>@ord.comment</p>
                </div>
                <div class="col">
                    <h3>Dodacie údaje</h3>
                    <strong>Meno a priezvisko:</strong> @nameshipp @surnameshipp<br />
                    <strong>Adresa:</strong> @addrship, @zipship @cityship @countryship<br />
                    <strong>Telefón:</strong> @phoneship<br />
                    <strong>Názov spoločnosti:</strong> @companyship
                </div>
                <div class="col">

                    <div class="jumbotron">
                        <h3>Finálna cena</h3>
                        @if (ord.usedcoupon != "")
                        {
                            <span>Použitý zľavový kupón <strong>@ord.usedcoupon</strong></span><br />
                        }
                        <strong style="font-size: 2em;">@{decimal final = ord.finalprice;} @final.ToString("N")€</strong>
                        @{
                            var cenabezdph = Convert.ToDecimal(final * 100 / 120).ToString("N");
                        }
                        <br />
                        <i>Cena bez DPH @cenabezdph€</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @foreach (var set in Model.EsettingsModel)
                    {
                        <hr />
                        <h3>Pokyny pri platbe bankovým prevodom</h3>
                        <strong>IBAN: </strong>@set.accountnumber<br />
                        <strong>Variabilný symbol: </strong>@ord.ordernumber<br />
                        <i>Tovar bude odoslaný po obdržaní platby.</i>
                    }

                </div>
            </div>
        }
    </div>
</div>

<!-- Meranie konverzií - HEUREKA -->
<script type="text/javascript">
    var _hrq = _hrq || [];

    _hrq.push(['setKey', '215A11B3BE36393F0A7B77D2E8F07B17']);

    @{
        List<dynamic> tempCart = new List<dynamic>();
        tempCart = (List<dynamic>) TempData["tempCartItems"];

        foreach (var ordTemp in Model.OrderDataModel)
        {
            @Html.Raw("_hrq.push(['setOrderId', '" + ordTemp.ordernumber + "']);");
        }

        if (tempCart != null)
        {
            foreach (var item in tempCart)
            {
                var thisProd = Model.ProductModel.Where(i => i.id == item.product.Value).SingleOrDefault();

                @Html.Raw("_hrq.push(['addProduct', '" + thisProd.title + "', '" + item.price.Value + "', '" + item.quantity.Value + "', '" + item.product.Value + "']);");
            }
        }
    }

    _hrq.push(['trackOrder']);

    (function() {

        var ho = document.createElement('script'); ho.type = 'text/javascript'; ho.async = true;

        ho.src = 'https://im9.cz/sk/js/ext/2-roi-async.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ho, s);

    })();

</script>
<!-- End Meranie konverzií - HEUREKA -->

<!-- Google Remarketing -->
<script>
    gtag('event','purchase', {
        value: @TempData["tempOrderSum"],
        transaction_id: '@TempData["tempOrderNum"]',
        currency: 'EUR',
        items: [

            @{
                if (tempCart != null)
                {
                    foreach (var item in tempCart)
                    {
                        @Html.Raw("{id: " + item.product.Value + ",google_business_vertical: 'retail'},");
                    }
                }
            }

        ]
    });
</script>
<!-- End Google Remarketing -->

<script>

    $(document).ready(function () {
        localStorage.clear();
        sessionStorage.clear();
    });
</script>
