@model IEnumerable<Cms.Models.blog>

@{
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
    ViewBag.Title = "Blog";
    var modelItems = Model;
}
<style>
    .sidenav a:nth-child(6) {
        border-left: 5px solid #89bf46;
        color: #f1f1f1;
        background-color: #464646;
    }
</style>

<h2>Články v blogu</h2>
<hr />
<button class="btn btn-success" type="button" value="Create" style="margin: 5px 0 10px;padding: 7px 22px;font-size: 16px;" onclick="location.href='@Url.Action("AddArticle", "Blog")'">+ Pridať článok</button>

<table class="table" style="font-size: 14px;">
    <thead class="thead-dark autoprofblue">
        <tr>
            <th>Náhľad</th>
            <th style="width: 45vw;">Názov</th>
            <th>Dátum publikovania</th>
            <th style="text-align: center">Editovať | Vymazať</th>
        </tr>
    </thead>
    @if (ViewBag.Details == null)
    {
        foreach (var item in modelItems)
        {
<tr>
    <td><img src="~/Uploads/@Html.DisplayFor(modelItem => item.image)" style="width: 50px;" /></td>
    <td><strong>@Html.DisplayFor(modelItem => item.title)</strong></td>
    <td>@Html.DisplayFor(modelItem => item.date)</td>
    <td align="center">@Html.ActionLink("Editovať", "EditArticle", "Blog", new { id = item.id }, new { @class = "btn btn-warning", style = "color: #ffffff !important;" }) @Html.ActionLink(HttpUtility.HtmlDecode("&#215;"), "DeleteArticle", "Blog", new { id = item.id, confirm = true }, new { onclick = "return confirm('Naozaj chcete vymazať tento článok a všetok jeho obsah?')", @class = "btn btn-danger", data_toggle = "tooltip", data_placement = "top", title = "Kliknutím nenávratne vymažete článok." })</td>
</tr>
        }


    }


</table>