@model Cms.Models.MultipleIndexModel
@{
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
    ViewBag.Title = "Produkty";
    var modelItems = Model.ProductModel;
    var variantsAttributes = Model.VariantAttributesModel;
    //var attributes = Model.AttributesModel;
    var sizes = "";
    var onstockrange = "";
    var counter = 0;
}
<script>
    /*GET HOW MANY ON STOCK from database*/
    function Onstock(size, counter, onstockrange) {

        var mycounter = counter;
        var prod_row = document.getElementById("product_row-" + mycounter);
        var infoicon = document.getElementById("info-" + mycounter);

        if (size != "" && isNaN(size)) {
            var j = size;
            var json = $.parseJSON(j);
            var countofsize = json.length;
            var inputs = "";
            $(json).each(function (i, val) {
                if (val.stock <= onstockrange) {
                    prod_row.style.background = "#ffe2e2";
                    infoicon.style.display = "inline-block";
                }
            });
        } else if (size != "" && !isNaN(size)) {
            if (size <= onstockrange) {
                prod_row.style.background = "#ffe2e2";
                infoicon.style.display = "inline-block";
            }
        }
    }
</script>

<style>
    .sidenav > a:nth-child(3) {
        border-left: 5px solid #00abe8;
        color: #f1f1f1;
        background-color: #464646;
    }

    .dropdown-container2 {
        display: block;
    }

    .noBT {
        border-top: 0px solid white !important;
    }

    .hide {
        display: none;
    }

    .error {
        border: 1px solid red;
    }
</style>

<h2>Produkty v eshope</h2>
<hr />
<button class="btn btn-success" type="button" value="Create" style="margin: 5px 0 10px;padding: 7px 22px;" onclick="location.href='@Url.Action("AddProduct", "Products")'">+ Pridať produkt</button>
<button class="btn btn-warning" type="button" value="MultiPriceEdit" data-toggle="modal" data-target="#multiPriceEdit" style="margin: 5px 0 10px;padding: 7px 22px;">Hromadná úprava cien</button>
<div class="modal" id="multiPriceEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Hromadná úprava ceny</h2>
            </div>
            <div class="modal-body" style="text-align: center;">
                @using (Html.BeginForm("MultipleEditPrice", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "multipleEditPriceForm" }))
                {
                    <div class="row">
                        <div class="col-6 text-right" style="width: 200px;">
                            <strong>Percentuálna zmena (%)</strong>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    <input type="text" placeholder="-10,5,..." name="multiplePricePerc" id="multiplePricePerc" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right" style="width: 200px;">
                            <strong>Akciová cena?</strong>
                            <small>Nová cena bude vložená ako Akciová.</small>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    <input type="checkbox" name="isDiscountMultiple" id="isDiscountMultiple" value="true">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div style="text-align:center">
                            <input type="hidden" name="catId" value="">
                            <input type="hidden" name="brandId" value="">
                            <input type="hidden" name="priceFrom" value="">
                            <input type="hidden" name="priceTo" value="">
                            <input type="hidden" name="isDiscount" value="">

                            <input type="submit" value="Upraviť cenu vyfiltrovaných produktov" id="btnSubmit" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-3">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa kategórie</strong>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.DropDownList("filterByCategory", (IEnumerable<SelectListItem>)ViewData["kategoria"], new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="col-3" style="padding-left:0px;">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa značky</strong>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.DropDownList("filterByBrand", (IEnumerable<SelectListItem>)ViewData["znacka"], new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-3" style="padding-left:0px;">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa ceny</strong>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.Editor("filterByPriceFrom", new { htmlAttributes = new { @class = "form-control", placeholder = "Od" } })
            </div>
            <div class="col-md-6">
                @Html.Editor("filterByPriceTo", new { htmlAttributes = new { @class = "form-control", placeholder = "Do" } })
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="mt-1" style="width: 180px;">
        </div>
        <div class="row">
            <div class="col-md-7 mt-4">
                @Html.CheckBox("filterByDiscount") &nbsp;Zobraziť len zľavnené produkty
            </div>
            <div class="form-group col-md-5 mt-3">
                <div style="text-align:right">
                    <input type="button" value="Filtrovať" id="filterButton" class="btn btn-success" />            
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<table id="productsTable" class="table">
    <thead>
        <tr>
            <th class="hide">ID</th>
            <th>Kód produktu</th>
            <th>Náhľad</th>
            <th>Názov</th>
            <th>Cena</th>
            <th>Cena po zľave</th>
            <th>Kategória</th>
            <th>Varianty</th>
            <th>Dátum</th>
            <th>Odporúčané</th>
            <th style="text-align: center; width:150px;">Akcie</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Details == null)
        {
            foreach (var item in modelItems)
            {
                sizes = item.custom4;
                if (sizes == "" || sizes == null)
                {
                    sizes = item.stock;
                }

                onstockrange = item.custom1;
                <tr id="product_row-@counter" class="productRow">

                    <td class="hide">@item.id</td>
                    <td class="editable" name="number">@Html.DisplayFor(modelItem => item.number)</td>
                    <td><img src="~/Uploads/@Html.DisplayFor(modelItem => item.image)" style="width: 50px;" /></td>
                    <td class="editable" name="title">@Html.DisplayFor(modelItem => item.title)</td>
                    <td class="editable" name="price" style="background-color: lightyellow; text-align: center;">@Html.DisplayFor(modelItem => item.price)&nbsp;€</td>
                    <td class="editable" name="discountprice" style="background-color: lightcyan; text-align: center;">

                        @{
                            //Html.DisplayFor(modelItem => item.discountprice)
                            var discountText = "";
                            if (item.discountprice != null)
                            {
                                discountText = item.discountprice + " €";
                            }
                        }
                        @discountText

                    </td>
                    <td>
                        @{
                            if (item.category != null)
                            {
                                foreach (var cat in Model.CategoriesModel.Where(o => o.id == Int32.Parse(item.category)))
                                {
                                    @Html.Raw(cat.name)
                                }
                            }
                        }
                    </td>
                    <td>

                        @{
                            //variant.number obsahuje nazov vlastnosti
                            string variantsStr = "";
                            if (variantsAttributes.Where(o => o.ProdId == item.id).ToList().Count > 0)
                            {
                                string varType = "";
                                foreach (var variant in variantsAttributes.Where(o => o.ProdId == item.id))
                                {
                                    if (varType != variant.AttrName)
                                    {
                                        variantsStr += variant.AttrName + ": ";
                                    }

                                    variantsStr += variant.AttrValue + ", ";
                                    varType = variant.AttrName;
                                }
                                variantsStr = variantsStr.Remove(variantsStr.Length - 2);
                            }
                        }
                        @variantsStr

                    </td>
                    <td>@Html.DisplayFor(modelItem => item.date)</td>
                    <td class="editable" name="recommended" style="text-align:center;">@Html.DisplayFor(modelItem => item.recommended)</td>
                    <td align="center">
                        @Html.ActionLink("Editovať", "EditProduct", "Products", new { id = item.id }, new { @class = "btn btn-warning", style = "color: #ffffff !important; font-size:13px;margin-right: 2px;" }) <a href="@Url.Action("DuplicateProduct", "Products", new { id = item.id })" class="btn btn-success" style="padding: 5px 10px;margin-right: 2px;" title="Duplikovať produkt"><img src="~/Content/images/duplicate.png" width="15" style="margin-top: -3px;"></a> @Html.ActionLink(HttpUtility.HtmlDecode("&#215;"), "DeleteProduct", "Products", new { id = item.id, confirm = true }, new { onclick = "return confirm('Naozaj chcete vymazať tento produkt?')", @class = "btn btn-danger", style = "padding: 5px 10px;", data_toggle = "tooltip", data_placement = "top", title = "Kliknutím nenávratne vymažete produkt." })
                        <div class="popover__wrapper" id="info-@counter" style="display:none;">
                            <a href="#">
                                <strong class="popover__title"><img src="/Content/images/infobox_info_icon.svg" style="width: 18px;" /></strong>
                            </a>
                            <div class="push popover__content">
                                <p class="popover__message">Skladové zásoby pod hraničnou hodnotou!</p>
                            </div>
                        </div>
                    </td>

                </tr>



                <script>
                Onstock('@Html.Raw(sizes)', @(counter), @(onstockrange));
                </script>
                counter++;
            }


        }
    </tbody>
</table>

<script>


    $(document).ready(function () {


        $('#productsTable').DataTable({
            "order": [0, 'desc'],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Slovak.json"
            },
            "initComplete": function (settings, json) {
                //upravime css
                $('#productsTable tbody tr').each(function () {
                    if ($(this).hasClass("variantRow")) {
                        $(this).find("td").addClass("noBT");
                    }
                });
            }
        });


        //init
        $("#filterByCategory").val("");
        $("#filterByBrand").val("");

        $("#filterButton").click(function () {
            filterAjax();
        });

        function filterAjax() {
            let APIurl = "/Api/FetchProductsAdminFilter";

            $catId = $("#filterByCategory").val() == "" ? null : $("#filterByCategory").val();
            $brandId = $("#filterByBrand").val() == "" ? null : $("#filterByBrand").val();
            $priceFrom = $("#filterByPriceFrom").val() == "" ? 0 : $("#filterByPriceFrom").val().replace(",",".");
            $priceTo = $("#filterByPriceTo").val() == "" ? 99999 : $("#filterByPriceTo").val().replace(",", ".");
            $isDiscount = $("#filterByDiscount").is(":checked");

            $.ajax({
                url: APIurl,
                type: 'GET',
                async: false,
                data: { catId: $catId, brandId: $brandId, priceFrom: $priceFrom, priceTo: $priceTo, isDiscount: $isDiscount },
                dataType: 'json',
                success: function (data) {
                    //add rows to dataTable

                    console.log(data);

                    $variants = data.variants;
                    $categories = data.categories;
                    data = data.data;

                    $dataSet = [];

                    for ($i = 0; $i < data.length; $i++) {

                        $variantsStr = "";
                        $varType = "";
                        $lastUsedProdId = 0;
                        $category = "";

                        //kategorie
                        if ($categories != undefined) {
                            $.each($categories, function (i, v) {
                                if (v.id == data[$i].category) {
                                    $category = v.name;

                                    return false;
                                }
                            });
                        } else {
                            $category = data[$i].category;
                        }


                        //varianty
                        $.each($variants, function (i, v) {
                            if (v.ProdId == data[$i].id) {
                                if ($varType != v.AttrName) {
                                    $variantsStr += v.AttrName + ": ";
                                }

                                $variantsStr += v.AttrValue + ", ";
                                $varType = v.AttrName;
                                $lastUsedProdId = data[$i].id;
                            }

                            //aby sa nemuseli prehladavat vsetky varianty
                            if ($lastUsedProdId != 0 && v.ProdId != $lastUsedProdId) {
                                $variantsStr = $variantsStr.slice(0, -2);
                                return false;
                            }
                        });

                        $thisSet = [];
                        $thisSet.push(data[$i].id);
                        $thisSet.push(data[$i].number);
                        $thisSet.push('<img src="/Uploads/' + data[$i].image + '" style="width: 50px; " />');
                        $thisSet.push(data[$i].title);
                        $thisSet.push(data[$i].price + ' €');
                        $thisSet.push(data[$i].discountprice ? (data[$i].discountprice + " €") : "");
                        $thisSet.push($category);
                        $thisSet.push($variantsStr);
                        $thisSet.push(data[$i].date);
                        $thisSet.push('<input class="check-box" disabled="disabled" ' + (data[$i].recommended == true ? 'checked="checked"' : '') + ' type="checkbox">');
                        $thisSet.push('<a class="btn btn-warning" href="/produkty/editovat-produkt/' + data[$i].id + '" style = "color:#ffffff !important; font-size:13px;margin-right: 2px;" >Editovať</a><a href="/Products/DuplicateProduct/' + data[$i].id + '" class="btn btn-success" style="padding: 5px 10px;margin-right: 2px;" title="Duplikovať produkt"><img src="/Content/images/duplicate.png" width="15" style="margin-top: -3px;"></a><a class="btn btn-danger" style="padding: 5px 10px;" data-placement="top" data-toggle="tooltip" href="/Products/DeleteProduct/' + data[$i].id + '?confirm=True" onclick=\'return confirm("Naozaj chcete vymazať tento produkt?")\' title="Kliknutím nenávratne vymažete produkt.">×</a>' +
                            '<div class="popover__wrapper" id="info-0" style="display:none;">' +
                            '<a href="#">' +
                            '<strong class="popover__title"><img src="/Content/images/infobox_info_icon.svg" style="width: 18px;"></strong>' +
                            '</a>' +
                            '<div class="push popover__content">' +
                            '<p class="popover__message">Skladové zásoby pod hraničnou hodnotou!</p>' +
                            '</div>' +
                            '</div>' +
                            '</td>'
                        );

                        $dataSet.push($thisSet);
                    }

                    $('#productsTable').DataTable().destroy();
                    $('#productsTable').empty();

                    $('#productsTable').DataTable({
                        "order": [0, 'desc'],
                        data: $dataSet,
                        columns: [
                            { title: "Id" },
                            { title: "Kód produktu" },
                            { title: "Náhľad" },
                            { title: "Názov" },
                            { title: "Cena" },
                            { title: "Cena po zľave" },
                            { title: "Kategória" },
                            { title: "Varianty" },
                            { title: "Dátum" },
                            { title: "Odporúčané" },
                            { title: "Akcie" }

                        ],
                        language: {
                            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Slovak.json"
                        },
                        "initComplete": function (settings, json) {
                            //upravime css
                            $('#productsTable thead th').eq(0).attr("style", "display:none;");
                            //$('#productsTable thead th').eq(3).attr("style", "width: 350px;");
                            $('#productsTable thead th').eq(10).attr("style", "text-align: center;width:150px;");

                            $('#productsTable tbody tr').each(function () {

                                $tds = $(this).find("td");
                                $tds.eq(0).attr("style", "display:none;");
                                $tds.eq(4).attr("style", "background-color: lightyellow; text-align: center;");
                                $tds.eq(5).attr("style", "background-color: lightcyan; text-align: center;");
                                $tds.eq(9).attr("style", "text-align: center;");
                                $tds.eq(10).attr("align", "center");

                                $tds.eq(1).addClass("editable").attr("name","number");
                                $tds.eq(3).addClass("editable").attr("name","title");
                                $tds.eq(4).addClass("editable").attr("name","price");
                                $tds.eq(5).addClass("editable").attr("name", "discountprice");
                                $tds.eq(9).addClass("editable").attr("name", "recommended");
                            });
                        }
                    });
                },
                error: function () {
                    alert('Error! Please try again.');
                }
            }).done(function () {
                //$loading.remove();
            });

        }

        function validateMultipleEditData() {
            $res = true;

            if ($("#multiplePricePerc").val() == "") {
                $("#multiplePricePerc").addClass("error");

                $res = false;
            } else {
                $("#multiplePricePerc").removeClass("error");
            }

            return $res;
        }

        $("#multipleEditPriceForm input[type=submit]").click(function (e) {
            e.preventDefault();

            if (validateMultipleEditData()) {
                $("#multipleEditPriceForm input[name=catId]").val($("#filterByCategory").val());
                $("#multipleEditPriceForm input[name=brandId]").val($("#filterByBrand").val());
                $("#multipleEditPriceForm input[name=priceFrom]").val($("#filterByPriceFrom").val() == "" ? 0 : $("#filterByPriceFrom").val().replace(",", "."));
                $("#multipleEditPriceForm input[name=priceTo]").val($("#filterByPriceTo").val() == "" ? 99999 : $("#filterByPriceTo").val().replace(",", "."));
                $("#multipleEditPriceForm input[name=isDiscount]").val($("#filterByDiscount").is(":checked"));

                $("#multipleEditPriceForm").submit();
            }
        });

        $(document).on("dblclick", ".editable", function () {
            //len ak uz nemame otvorenu editaciu
            if ($(".editValue").length == 0) {
                $name = $(this).attr("name");

                if ($name == "recommended") {
                    $isChecked = $(this).find("input[type=checkbox]").is(":checked");
                    $defValue = $isChecked;

                    $html = '<input class="editValue" type="checkbox" name="editValue" ' + ($isChecked ? "checked" : "") + '><br><a class="btn btn-warning editValueSave" href="#" style="margin-top:5px;">Zmeniť</a><a class="btn editValueCancel" style="margin-left:5px;margin-top:5px;">Zrušiť</a>';
                } else {
                    $value = $(this).text().trim();
                    $defValue = $(this).text().trim();
                    if ($name == "price" || $name == "discountprice") {
                        $value = $value.replace('€', '').trim();
                    }

                    $html = '<input class="editValue" type="text" name="editValue" value="' + $value + '"><a class="btn btn-warning editValueSave" href="#" style="margin-top:5px;">Zmeniť</a><a class="btn editValueCancel" style="margin-left:5px;margin-top:5px;">Zrušiť</a>';
                }

                $(this).attr("defValue", $defValue);

                $(this).html($html);
            }
        });

        $(document).on("click", ".editValueSave", function () {
            $value = $(this).parents(".editable").find(".editValue").val();
            $id = $(this).parents("tr").find("td").eq(0).text();
            $name = $(this).parents(".editable").attr("name");

            if ($name == "recommended") {
                $value = $(this).parents(".editable").find(".editValue").is(":checked").toString();
            }

            if ($name == "price" || $name == "discountprice") {
                $value = $value.replace(",", ".");  
            }

            $thisObj = $(this);

            let APIurl = "/Api/EditProductValues";
            $.ajax({
                url: APIurl,
                type: 'GET',
                async: false,
                data: { value: $value, id: $id, name: $name },
                dataType: 'json',
                success: function (data) {
                    if ($name == "price" || $name == "discountprice") {
                        if ($name == "price") {
                            $thisObj.parents(".editable").text($value + " €");
                        }

                        if ($name == "discountprice") {
                            if ($value != "") {
                                $thisObj.parents(".editable").text($value + " €");
                            } else {
                                $thisObj.parents(".editable").text("");
                            }
                        }
                    }
                    else if ($name == "recommended") {
                        $thisObj.parents(".editable").html('<input ' + ($value == "true" ? 'checked="checked"' : '') + 'class="check-box" disabled="disabled" type="checkbox">');
                    }
                    else {
                        $thisObj.parents(".editable").text($value);
                    }
                }
            });
   
        });

        $(document).on("click", ".editValueCancel", function () {
            $value = $(this).parents(".editable").attr("defValue");
            $name = $(this).parents(".editable").attr("name");

            if ($name != "recommended") {
                $(this).parents(".editable").text($value);
            } else {
                $(this).parents(".editable").html('<input ' + ($value=="true"?'checked="checked"':'') + 'class="check-box" disabled="disabled" type="checkbox">');
            }
        });
    });
</script>

