@using Newtonsoft.Json;

@model Cms.Models.MultipleIndexModel
@{
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
    ViewBag.Title = "Produkty";
    var modelItems = Model.ProductModel;
    var variantsAttributes = Model.VariantAttributesModel;
    //var attributes = Model.AttributesModel;
    //var sizes = "";
    //var onstockrange = "";
    //var counter = 0;
}
@*
    <script>
        /*GET HOW MANY ON STOCK from database*/
        function Onstock(size, counter, onstockrange) {

            var mycounter = counter;
            var prod_row = document.getElementById("product_row-" + mycounter);
            var infoicon = document.getElementById("info-" + mycounter);

            if (size != "" && isNaN(size)) {
                var j = size;
                var json = $.parseJSON(j);
                var countofsize = json.length;
                var inputs = "";
                $(json).each(function (i, val) {
                    if (val.stock <= onstockrange) {
                        prod_row.style.background = "#ffe2e2";
                        infoicon.style.display = "inline-block";
                    }
                });
            } else if (size != "" && !isNaN(size)) {
                if (size <= onstockrange) {
                    prod_row.style.background = "#ffe2e2";
                    infoicon.style.display = "inline-block";
                }
            }
        }
    </script>
*@

<style>
    .sidenav > a:nth-child(3) {
        border-left: 5px solid #00abe8;
        color: #f1f1f1;
        background-color: #464646;
    }

    .dropdown-container2 {
        display: block;
    }

    .noBT {
        border-top: 0px solid white !important;
    }

    .hide {
        display: none;
    }

    .error {
        border: 1px solid red;
    }
</style>

<h2>Produkty v eshope</h2>
<hr />
<button class="btn btn-success" type="button" value="Create" style="margin: 5px 0 10px;padding: 7px 22px;" onclick="location.href='@Url.Action("AddProduct", "Products")'">+ Pridať produkt</button>
<br>
<button class="btn btn-outline-info" type="button" value="MultiPriceEdit" data-toggle="modal" data-target="#multiPriceEdit" style="margin: 5px 0 10px;padding: 7px 22px;"><i class="fas fa-edit"></i>&nbsp;&nbsp;Úprava cien</button>
<button class="btn btn-outline-info" type="button" value="MultiDelete" data-toggle="modal" data-target="#multiDelete" style="margin: 5px 0 10px;padding: 7px 22px;"><i class="fas fa-times"></i>&nbsp;&nbsp;Hromadné mazanie</button>
<button class="btn btn-outline-info" type="button" value="MultiCatEdit" data-toggle="modal" data-target="#multiCatEdit" style="margin: 5px 0 10px;padding: 7px 22px;"><i class="fas fa-list"></i>&nbsp;&nbsp;Úprava kategórií</button>
<a id="CheckAll" style="margin: 5px 10px 10px;padding: 7px 22px;text-decoration:underline;">Označiť všetky zobrazené</a>
<div class="modal" id="multiPriceEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Hromadná úprava ceny</h2>
            </div>
            <div class="modal-body" style="text-align: center;">
                @using (Html.BeginForm("MultipleEditPrice", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "multipleEditPriceForm" }))
                {
                    <div class="row">
                        <div class="col-6 text-right" style="width: 200px;">
                            <strong>Percentuálna zmena (%)</strong>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    <input type="text" placeholder="-10,5,..." name="multiplePricePerc" id="multiplePricePerc" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right" style="width: 200px;">
                            <strong>Akciová cena?</strong>
                            <small style="display:block;">Nová cena bude vložená ako Akciová.</small>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    <input type="checkbox" name="isDiscountMultiple" id="isDiscountMultiple" value="true">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div style="text-align:center">
                            <input type="hidden" name="catId" value="">
                            <input type="hidden" name="brandId" value="">
                            <input type="hidden" name="priceFrom" value="">
                            <input type="hidden" name="priceTo" value="">
                            <input type="hidden" name="isDiscount" value="">
                            <input type="hidden" name="isInactive" value="">
                            <input type="hidden" name="checkedProds" value="">

                            <input type="submit" value="Upraviť cenu zobrazených a označených produktov" id="btnSubmit" class="btn btn-success" disabled="true" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="multiDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Hromadné mazanie</h2>
            </div>
            <div class="modal-body" style="text-align: center;">
                @using (Html.BeginForm("MultipleDelete", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "multipleDeleteForm" }))
                {
                    <div class="form-group">
                        <div style="text-align:center">
                            <input type="hidden" name="checkedProds" value="">

                            <input type="submit" value="Zmazať zobrazené a označené produkty" id="btnSubmit" class="btn btn-success" disabled="true" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="multiCatEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Hromadná úprava kategórií</h2>
            </div>
            <div class="modal-body" style="text-align: center;">
                @using (Html.BeginForm("MultipleEditCat", "Products", FormMethod.Post, new { enctype = "multipart/form-data", id = "multipleEditCatForm" }))
                {
                    <div class="row">
                        <div class="col-3 text-right">
                            <strong>Kategória</strong>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <div class="col-md-12 text-left">
                                    @Html.DropDownList("MultipleEditCatChoose", (IEnumerable<SelectListItem>)ViewData["kategoria"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="text-align:center">

                            <input type="hidden" name="type" value="">
                            <input type="hidden" name="checkedProds" value="">

                            <input type="button" value="Pridať kategóriu do zobrazených a označených produktov" id="btnEditCatAddSubmit" class="btn btn-success" disabled="true" /><br><br>
                            <input type="button" value="Odobrať kategóriu zo zobrazených a označených produktov" id="btnEditCatRemSubmit" class="btn btn-danger" disabled="true" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-3">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa kategórie</strong>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.DropDownList("filterByCategory", (IEnumerable<SelectListItem>)ViewData["kategoria"], new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="col-3" style="padding-left:0px;">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa výrobcu</strong>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.DropDownList("filterByBrand", (IEnumerable<SelectListItem>)ViewData["znacka"], new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-3" style="padding-left:0px;">
        <div class="mt-1" style="width: 180px;">
            <strong>Filtrovať podľa ceny</strong>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.Editor("filterByPriceFrom", new { htmlAttributes = new { @class = "form-control", placeholder = "Od" } })
            </div>
            <div class="col-md-6">
                @Html.Editor("filterByPriceTo", new { htmlAttributes = new { @class = "form-control", placeholder = "Do" } })
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="mt-1" style="width: 180px;">
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                @Html.CheckBox("filterByDiscount") &nbsp;Zobraziť len zľavnené produkty
            </div>
            <div class="col-md-4 mt-4">
                @Html.CheckBox("filterByInactive") &nbsp;Zobraziť len neaktívne produkty
            </div>
            <div class="form-group col-md-4 mt-3">
                <div style="text-align:right">
                    <input type="button" value="Filtrovať" id="filterButton" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<table id="productsTable" class="table">
    <thead>
    <tr>
        <th style="display:none !important">ID</th>
        <th></th>
        <th>Kód produktu</th>
        <th>Náhľad</th>
        <th>Názov</th>
        <th>Cena</th>
        <th>Cena po zľave</th>
        <th>Kategória</th>
        <th>Varianty</th>
        <th>Heureka</th>
        <th>Množstvo</th>
        <th>Aktívne</th>
        <th style="text-align: center; width:175px;">Akcie</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>


    $(document).ready(function () {

        //$filterClicked = false;

        $.fn.DataTable.ext.pager.numbers_length = 18;

        @{
            var defPageLength = 50;
            var defPage = 0;
            if (TempData["dt_page"] != null)
            {
                defPage = Int32.Parse(TempData["dt_page"].ToString());
            }
            if (TempData["dt_count"] != null)
            {
                defPageLength = Int32.Parse(TempData["dt_count"].ToString());
            }

        }

        $('#productsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "pageLength": @defPageLength,
            "displayStart": @defPage,
            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Všetko"]],
            "ajax": {
                "url": "/Api/FetchProductsDatatable",
                "type": "POST",
                "data": function (o) {
                    o.category = $("#filterByCategory").val();
                    o.brand = $("#filterByBrand").val();
                    o.priceFrom = $("#filterByPriceFrom").val();
                    o.priceTo = $("#filterByPriceTo").val();
                    o.discount = $("#filterByDiscount").is(":checked");
                    o.inactive = $("#filterByInactive").is(":checked");
                }
            },
            "columns": [
                { "orderable": false, "searchable": false },
                { "orderable": false, "searchable": false },
                { "orderable": true, "searchable": true },
                { "orderable": false, "searchable": false },
                { "orderable": true, "searchable": true },
                { "orderable": true, "searchable": true },
                { "orderable": true, "searchable": true },
                { "orderable": false, "searchable": false },
                { "orderable": false, "searchable": false },
                { "orderable": true, "searchable": true },
                { "orderable": true, "searchable": true },
                { "orderable": true, "searchable": true },
                { "orderable": false, "searchable": false }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Slovak.json"
            },
            "drawCallback": function (settings, json) {
                //upravime css


                $('#productsTable tbody tr').each(function () {

                    $tds = $(this).find("td");
                    $tds.eq(0).attr("style", "display:none;");
                    $tds.eq(1).attr("style", "text-align: center;");
                    $tds.eq(5).attr("style", "background-color: lightyellow; text-align: center;");
                    $tds.eq(6).attr("style", "background-color: lightcyan; text-align: center;");
                    $tds.eq(9).attr("style", "text-align: center;");
                    $tds.eq(10).attr("style", "text-align: center;");
                    $tds.eq(11).attr("style", "text-align: center;");
                    $tds.eq(12).attr("style", "text-align: center; width: 175px;");

                    $tds.eq(2).addClass("editable").attr("name", "number");
                    $tds.eq(4).addClass("editable").attr("name", "title");
                    $tds.eq(5).addClass("editable").attr("name", "price");
                    $tds.eq(6).addClass("editable").attr("name", "discountprice");
                    $tds.eq(9).addClass("editable").attr("name", "heureka");
                    $tds.eq(11).addClass("editable").attr("name", "active");

                    $('#productsTable').css("width", "auto");
                });

                if (!$("#min_3_chars_info").length) {
                    $("#productsTable_filter input").after("<span id='min_3_chars_info' style='font-size: 10px; margin-left: 5px;'>min. 3 znaky</span>");
                }

            }
        });


        //init
        $("#filterByCategory").val("");
        $("#filterByBrand").val("");

        $("#filterButton").click(function () {

            $('#productsTable').DataTable().ajax.reload();

        });

        //hromadna editacia cien
        function validateMultipleEditData() {
            $res = true;

            if ($("#multiplePricePerc").val() == "") {
                $("#multiplePricePerc").addClass("error");

                $res = false;
            } else {
                $("#multiplePricePerc").removeClass("error");
            }

            return $res;
        }

        $("#CheckAll").click(function () {
            if ($(this).text() == "Označiť všetky zobrazené") {
                $("#productsTable tbody tr input[name=multipleEditCheckbox]").each(function () {
                    $(this).prop("checked", true);
                });
                $(this).text("Odznačiť všetky zobrazené");
            } else {

                $("#productsTable tbody tr input[name=multipleEditCheckbox]").each(function () {
                    $(this).prop("checked", false);
                });
                $(this).text("Označiť všetky zobrazené");
            }
        });

        // hromadna editacia ceny
        $("button[value=MultiPriceEdit]").click(function () {

            $checkedProdsCounter = 0;
            $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                $checkedProdsCounter++;
            });

            $("#multipleEditPriceForm input[type=submit]").val("Upraviť cenu " + $checkedProdsCounter + " zobrazených a označených produktov");

            if ($checkedProdsCounter == 0) {
                $("#multipleEditPriceForm input[type=submit]").attr("disabled", true);
            } else {
                $("#multipleEditPriceForm input[type=submit]").attr("disabled", false);
            }
        });

        $("#multipleEditPriceForm input[type=submit]").click(function (e) {
            e.preventDefault();

            if (validateMultipleEditData()) {

                //zistime pocet ceknutych produktov
                $checkedArr = [];

                //ak nie je zaskrtnute tlacidlo pre VSETKY vyfiltrovane
                $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                    $checkedArr.push($(this).parents("tr").find("td").eq(0).text());
                });

                $("#multipleEditPriceForm input[name=catId]").val($("#filterByCategory").val());
                $("#multipleEditPriceForm input[name=brandId]").val($("#filterByBrand").val());
                $("#multipleEditPriceForm input[name=priceFrom]").val($("#filterByPriceFrom").val() == "" ? 0 : $("#filterByPriceFrom").val().replace(",", "."));
                $("#multipleEditPriceForm input[name=priceTo]").val($("#filterByPriceTo").val() == "" ? 99999 : $("#filterByPriceTo").val().replace(",", "."));
                $("#multipleEditPriceForm input[name=isDiscount]").val($("#filterByDiscount").is(":checked"));
                $("#multipleEditPriceForm input[name=isInactive]").val($("#filterByInactive").is(":checked"));
                $("#multipleEditPriceForm input[name=checkedProds]").val(JSON.stringify($checkedArr));

                //pridame input do ktoreho ulozime danu datatable page z ktorej sme vykonali akciu
                $("#multipleEditPriceForm").append('<input type="hidden" name="dt_page" value="' + $(".dataTables_paginate a.paginate_button.current").text() + '">');
                $("#multipleEditPriceForm").append('<input type="hidden" name="dt_count" value="' + $("#productsTable_wrapper select[name=productsTable_length]").val() + '">');

                $("#multipleEditPriceForm").submit();
            }
        });

        //hromadne mazanie
        $("button[value=MultiDelete]").click(function () {
            $checkedProdsCounter = 0;
            $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                $checkedProdsCounter++;
            });

            $("#multipleDeleteForm input[type=submit]").val("Zmazať " + $checkedProdsCounter + " zobrazené a označené produkty");

            if ($checkedProdsCounter == 0) {
                $("#multipleDeleteForm input[type=submit]").attr("disabled", true);
            } else {
                $("#multipleDeleteForm input[type=submit]").attr("disabled", false);
            }
        });

        $("#multipleDeleteForm input[type=submit]").click(function (e) {
            e.preventDefault();


            //zistime pocet ceknutych produktov
            $checkedArr = [];

            //ak nie je zaskrtnute tlacidlo pre VSETKY vyfiltrovane
            $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                $checkedArr.push($(this).parents("tr").find("td").eq(0).text());
            });

            $("#multipleDeleteForm input[name=checkedProds]").val(JSON.stringify($checkedArr));

            //pridame input do ktoreho ulozime danu datatable page z ktorej sme vykonali akciu
            $("#multipleDeleteForm").append('<input type="hidden" name="dt_page" value="' + $(".dataTables_paginate a.paginate_button.current").text() + '">');
            $("#multipleDeleteForm").append('<input type="hidden" name="dt_count" value="' + $("#productsTable_wrapper select[name=productsTable_length]").val() + '">');

            $("#multipleDeleteForm").submit();

        });

        // hromadna editacia kategorii
        $("button[value=MultiCatEdit]").click(function () {
            $checkedProdsCounter = 0;
            $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                $checkedProdsCounter++;
            });

            $("#btnEditCatAddSubmit").val("Pridať kategóriu do " + $checkedProdsCounter + "  zobrazených a označených produktov");
            $("#btnEditCatRemSubmit").val("Odobrať kategóriu zo " + $checkedProdsCounter + "  zobrazených a označených produktov");

            if ($checkedProdsCounter == 0) {
                $("#btnEditCatAddSubmit, #btnEditCatRemSubmit").attr("disabled", true);
            } else {
                $("#btnEditCatAddSubmit, #btnEditCatRemSubmit").attr("disabled", false);
            }
        });

        $("#btnEditCatAddSubmit").click(function (e) {
            e.preventDefault();

            if ($("#MultipleEditCatChoose").val() != "") {
                //zistime pocet ceknutych produktov
                $checkedArr = [];

                //ak nie je zaskrtnute tlacidlo pre VSETKY vyfiltrovane
                $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                    $checkedArr.push($(this).parents("tr").find("td").eq(0).text());
                });

                $("#multipleEditCatForm input[name=type]").val("add");
                $("#multipleEditCatForm input[name=checkedProds]").val(JSON.stringify($checkedArr));

                //pridame input do ktoreho ulozime danu datatable page z ktorej sme vykonali akciu
                $("#multipleEditCatForm").append('<input type="hidden" name="dt_page" value="' + $(".dataTables_paginate a.paginate_button.current").text() + '">');
                $("#multipleEditCatForm").append('<input type="hidden" name="dt_count" value="' + $("#productsTable_wrapper select[name=productsTable_length]").val() + '">');

                $("#multipleEditCatForm").submit();
            }

        });

        $("#btnEditCatRemSubmit").click(function (e) {
            e.preventDefault();

            if ($("#MultipleEditCatChoose").val() != "") {

                //zistime pocet ceknutych produktov
                $checkedArr = [];

                //ak nie je zaskrtnute tlacidlo pre VSETKY vyfiltrovane
                $("#productsTable tbody tr input[name=multipleEditCheckbox]:checked").each(function () {
                    $checkedArr.push($(this).parents("tr").find("td").eq(0).text());
                });

                $("#multipleEditCatForm input[name=type]").val("rem");
                $("#multipleEditCatForm input[name=checkedProds]").val(JSON.stringify($checkedArr));

                //pridame input do ktoreho ulozime danu datatable page z ktorej sme vykonali akciu
                $("#multipleEditCatForm").append('<input type="hidden" name="dt_page" value="' + $(".dataTables_paginate a.paginate_button.current").text() + '">');
                $("#multipleEditCatForm").append('<input type="hidden" name="dt_count" value="' + $("#productsTable_wrapper select[name=productsTable_length]").val() + '">');

                $("#multipleEditCatForm").submit();
            }
        });

        $(document).on("click", ".delete_product_anchor", function () {
            $(this).attr("href", $(this).attr("href") + "&dt_page=" + $(".dataTables_paginate a.paginate_button.current").text() + "&dt_count=" + $("#productsTable_wrapper select[name=productsTable_length]").val());
        });

        $(document).on("dblclick", ".editable", function () {
            //len ak uz nemame otvorenu editaciu
            if ($(".editValue").length == 0) {
                $name = $(this).attr("name");

                if ($name == "active" || $name == "heureka") {
                    $isChecked = $(this).find("input[type=checkbox]").is(":checked");
                    $defValue = $isChecked;

                    $html = '<input class="editValue" type="checkbox" name="editValue" ' + ($isChecked ? "checked" : "") + '><br><a class="btn btn-warning editValueSave" style="margin-top:5px;">Zmeniť</a><a class="btn editValueCancel" style="margin-left:5px;margin-top:5px;">Zrušiť</a>';
                } else {
                    $value = $(this).text().trim();
                    $defValue = $(this).text().trim();
                    if ($name == "price" || $name == "discountprice") {
                        $value = $value.replace('€', '').trim();
                    }

                    $html = '<input class="editValue" type="text" name="editValue" value="' + $value + '"><a class="btn btn-warning editValueSave" style="color:#fff;margin-top:5px;">Zmeniť</a><a class="btn editValueCancel" style="margin-left:5px;margin-top:5px;">Zrušiť</a>';
                }

                $(this).attr("defValue", $defValue);

                $(this).html($html);
            }
        });

        $(document).on("click", ".editValueSave", function () {
            $value = $(this).parents(".editable").find(".editValue").val();
            $id = $(this).parents("tr").find("td").eq(0).text();
            $name = $(this).parents(".editable").attr("name");

            if ($name == "active" || $name == "heureka") {
                $value = $(this).parents(".editable").find(".editValue").is(":checked").toString();
            }

            if ($name == "price" || $name == "discountprice") {
                $value = $value.replace(",", ".");
            }

            $thisObj = $(this);

            let APIurl = "/Api/EditProductValues";
            $.ajax({
                url: APIurl,
                type: 'GET',
                async: false,
                data: { value: $value, id: $id, name: $name },
                dataType: 'json',
                success: function (data) {
                    if ($name == "price" || $name == "discountprice") {
                        if ($name == "price") {
                            $thisObj.parents(".editable").text($value + " €");
                        }

                        if ($name == "discountprice") {
                            if ($value != "") {
                                $thisObj.parents(".editable").text($value + " €");
                            } else {
                                $thisObj.parents(".editable").text("");
                            }
                        }
                    }
                    else if ($name == "active" || $name == "heureka") {
                        $thisObj.parents(".editable").html('<input ' + ($value == "true" ? 'checked="checked"' : '') + 'class="check-box" disabled="disabled" type="checkbox">');
                    }
                    else {
                        $thisObj.parents(".editable").text($value);
                    }
                }
            });

        });

        $(document).on("click", ".editValueCancel", function () {
            $value = $(this).parents(".editable").attr("defValue");
            $name = $(this).parents(".editable").attr("name");

            if ($name != "active" && $name != "heureka") {
                $(this).parents(".editable").text($value);
            } else {
                $(this).parents(".editable").html('<input ' + ($value == "true" ? 'checked="checked"' : '') + 'class="check-box" disabled="disabled" type="checkbox">');
            }
        });
    });
</script>

